.card {
    box-shadow: 0 0 10px rgba(0, 1, 2, .2);
    positon: relative;
}

.card-content {
    padding: 15px;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card .title + p {
    margin-top: 0;
}
