.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.luxury-background {
    background-color: black;
    color: black;
}

.luxury-background a {
    color: black;
}

.luxury-background a:hover {
    color: rgba(255, 255, 255, .6);
}
