.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.luxury-background {
    background-color: black;
    color: black;
}

.luxury-background a {
    color: black;
}

.luxury-background a:hover {
    color: rgba(255, 255, 255, .6);
}

/*上下距離*/

.m-t-15 {
    margin-top: 15px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
