.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.dark-background {
    background-color: black;
    color: white;
}

.dark-background a {
    color: white;
}

.dark-background a:hover {
    color: rgba(255, 255, 255, .6);
}
