/*-------------------container------------------*/

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


@media ( min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

/*---------------contain & sidebar--------------*/

.content,
.sidebar {
    height: 500px;
}

@media ( min-width: 768px) {

    .content {
        width: 68%;
        float: left;
    }

    .sidebar {
        width: 32%;
        float: left;
    }

    .sidebar + .content {
        width: 36%;
    }

    .sidebar ~ .sidebar {
        float: right;
    }

    .content:last-child {
        width: 68%;
    }

    .content:only-child {
        width: 100%;
    }

}
