.block {
    margin-top: 30px;
}

.news-feature,
.widget {

    margin-bottom: 30px;
}

.news-feature .title {
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
}

.card .nav-link {
    font-size: 13px;
    font-weight: 300;
}

.card .card-contet {
    font-weight: 300;
}

.block-title {
    font-size: 14px;
    font-weight: 800;
    color: #000;
}

.site-footer {
    padding: 30px 0;
}

.site-footer .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.site-footer .block-title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 800;
}

.dark-bg .nav-link {
    font-size: 13px;
    color: #fff;
}

.dark-bg .block-title {
    color: #fff;
}

.site-secondary {
    background-color: #f1f1f1;
    padding: 0 0 30px 0;
}

.site-secondary {
    margin-top: 30px;
}

.site-secondary .card {
    background-color: #fff;
    box-shadow: none;
}

/*---for start-up Evan---*/

/*header*/

@media (max-width: 992px) {
    .site-menu {
        display: none;
    }
}

/*menu*/

.site-menu .nav-link {
    margin: 20px 10px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 2px;
}

.site-menu .nav-link.become-btn {
    border: 2px solid #fff;
}

.site-menu .nav-link.become-btn:hover {
    background-color: #fff;
    color: #000;
}

/*banner*/

.site-banner {
    height: 600px;
    height: 100vh;
    position: relative;
}

@media (max-width: 992px) {
    .site-banner {
        height: 500px;
    }
}

.site-banner-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background: url('../images/1.jpeg') center center no-repeat;
    background-size: cover;
}
