.container {
	width: 80%;
    max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	background-color: #30A9DE;
}

.site-header-inner {
	height: 100px;
}

.site-footer {
	background-color: #607D8B;
}

.site-footer-inner {
	height: 100px;
}

.site-main {
/*    background-color: aqua*/
}

.site-main-inner::after {
	content: '';
	display: block;
	clear: both;
}

.content-small {
	height: 400px;
	width: 36%;
    background-color: firebrick;
	float: left;
}

.content-big {
    height: 400px;
	width: 64%;
    background-color: darkorange;
	float: left;
}

