body {
    background: #f1f1f1
}

.site-header {
    background-color: darkorange;
}

.site-header-inner {
    width: 1024px;
    height: 100px;
    margin: 0 auto;
/*    background-color: bisque;*/
}

.site-main {
    background-color: fuchsia;
}

.site-main-inner {
    width: 1024px;
    height: 1000px;
    margin: 0 auto;
/*    background-color: black;*/
}

.site-footer {
    background-color: darkcyan;
}

.site-footer-inner {
    width: 1024px;
    height: 100px;
    margin: 0 auto;
/*    background-color: firebrick;*/

}