@import url(_global.css);
@import url(_layout.css);


/*--------------------header--------------------*/

.site-header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}


.site-logo {
    text-transform: uppercase;
    font-weight: 800;
}

/*--------------------footer--------------------*/

.site-footer {
    position: relative;
    z-index: 1;
}

.site-footer-inner {
    height: 100px;
}

/*---------------------main---------------------*/

.site-main {
    position: relative;
    z-index: 1;
}

.site-main-inner::after {
    content: '';
    display: block;
    clear: both;
}
